body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, span, label, input, button, a {
  font-family: "Montserrat";
}

nav {
  background-color: rgb(92,103,132, 16%);
}

.navText, a, a:visited {
  color: #157F1F;
  font-size: 20px;
}

.navTextName {
  color: #157F1F;
  font-size: 28px;
}
p {
  font-size: 18px;
}

.icons, .icons:visited {
  color: #5C6784;
}